{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
	  
    {% set fname = 'img/' + post.img_file %}
    <header class="masthead" style="background-image: url('{{ url_for('static', filename=fname) }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <h2 class="subheading">{{post.tagline}}</h2>
              <span class="meta">Posted by
                <a href="#">Admin</a>
                on {{post.date}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{post.content}}
              <a href="D:\Python-Flask-Blog-master\static\img\post-bg.png" download="newname" target="_blank" class="et_pb_button" style="color: #dd9933;">Download Link</a>
            
          </div>
        </div>
      </div>
    </article>


  
  <hr> <span class="likebtn-wrapper" data-theme="large" data-identifier="item_1"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
 
 
 {% endblock %}
 